.not-found-container {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.not-found-container h1 {
  font-size: 48px;
  color: #d9534f;
}

.not-found-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.not-found-container a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.not-found-container a:hover {
  text-decoration: underline;
}
